version: '3.8'

services:
  api:
    build: .
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=db
      - DB_PORT=3306
      - DB_USER=root
      - DB_PASSWORD=password
      - DB_NAME=voty_db
    depends_on:
      - db
    restart: on-failure

  db:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=voty_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    # Usamos mysql_native_password para asegurar compatibilidad con el driver de Go
    command: --default-authentication-plugin=mysql_native_password

volumes:
  mysql_data:
